@use 'variables';
@use 'global';

header {
    border-bottom: var(--second-border);
    background-color: var(--primary-color);
}

.header-wrapper {
    display: flex;
    
    justify-content: space-between;
    padding: 2em;
}

// mobile first section 

section {
    background-color: var(--primary-color);
    .left-col {
        text-align: center;
        padding: 3rem 5rem;
        border-bottom: var(--second-border);
        
        h1 {
            font-size: 3.2rem;
            line-height: 125.4%; /* 40.128px */
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .other-users-div {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;

            
            p {
                font-size: 16px;
                margin-left: -2rem;
            }

            .users-img-div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
    
                img {
                    margin-left: -2rem;
                }
            }
        }
    }

    .right-col {
        padding: 5.2rem 2rem;

        .extention-part-div {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding-right: 10rem;
            

            .step {
                display: flex;
                align-items: center;
                gap: 2rem;

                p {
                    font-size: 2rem;
                }

                strong {
                    font-size: 1.6rem;
                    background-color: #000;
                    border-radius: 50%;
                    color: white;
                    padding: .5rem 1rem;
                }


                span {
                    color: #608A4D;
                    font-weight: bold;
                }
            }
        }



        .download-extention-div {
            margin-top: 4.7rem;            
            display: flex;
            justify-content: center;
            background-color: #9BC588;
            gap: 1.4rem;
            font-weight: bold;
            font-size: 2.2rem;
            align-items: center;
            padding: 1.5rem 0;
            border: var(--border);
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
        }
    }
}


// mobile main section

main {

    .shops-div {
        background-color: #000;
        padding-top: 5rem;
        padding-bottom: 16.5rem;

        .shops-names{
            .one {
                width: 88px;
                justify-self: end;
            }
            .two {
                width: 63px;
                height: 36px;
                justify-self: start;
            }
            .three {
                width: 106px;
                height: 30px;
                justify-self: end;
            }
            .four {
                width: 107px;
                height: 26px;
                justify-self: start;
            }


            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 7rem;
            margin: 0 2rem;


        }

    }

    .shops-item-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: -10rem;
        margin-bottom: 7.3rem;
        .first-item-div {
            background-image: url(../assets/shoes.jpeg);
            background-size: cover;
            background-position: 0;
            width: 349px;
            height: 205px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: var(--border);
            box-shadow: var(--box-shadow);

            .name {
                background-color: white;
                margin: 0;
                font-size: 16px;
                padding-top: 1.8rem;
                padding-bottom: 1.8rem;
                padding-left: 1.8rem;
                font-weight: bold;
            }

            .price {
                background-color: #000;
                color: white;
                align-self: flex-end;
                margin: 0;
                font-size: 2.2rem;
                padding: 1.7rem 3.3rem 1.7rem 2rem;
                font-weight: bold;
            }

        }

        .second-item-div {
            background-image: url(../assets/Arow.jpeg);
            background-size: cover;
            background-position: 0;
            width: 349px;
            height: 205px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: var(--border);
            box-shadow: var(--box-shadow);

            .name {
                background-color: white;
                margin: 0;
                font-size: 16px;
                padding-top: 1.8rem;
                padding-bottom: 1.8rem;
                padding-left: 1.8rem;
                font-weight: bold;

            }

            .price {
                background-color: #000;
                color: white;
                align-self: flex-end;
                margin: 0;
                font-size: 2.2rem;
                padding: 1.7rem 3.3rem 1.7rem 2rem;
                font-weight: bold;
            }
        }

        .third-item-div {
            background-image: url(../assets/headphone.jpeg);
            background-size: cover;
            background-position: 0;
            width: 349px;
            height: 205px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: var(--border);
            box-shadow: var(--box-shadow);

            .name {
                background-color: white;
                margin: 0;
                font-size: 16px;
                padding-top: 1.8rem;
                padding-bottom: 1.8rem;
                padding-left: 1.8rem;
                font-weight: bold;
            }

            .price {
                background-color: #000;
                color: white;
                align-self: flex-end;
                margin: 0;
                font-size: 2.2rem;
                padding: 1.7rem 3.3rem 1.7rem 2rem;
                font-weight: bold;
            }
        }
    }

    .view {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7.4rem;
        gap: 1rem;

        a {
            font-size: 2.6rem;
            text-decoration: underline;
        }
    }
}

// Mobile footer section

footer {
    border-top: var(--second-border);
    padding-top: 3.8rem;
    background-color: var(--primary-color);

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 7.3rem;
        padding-left: 3.3rem;
        padding-right: 3.3rem;

        .left-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

           .svg {
            margin-bottom: 1.2rem;
           }

           .footer-media {

            text-align: center;

                a {
                    font-size: 1.4rem;
                }
                .footer-media-svg {
                    display: flex;
                    gap: 1.2rem;

                    .last {
                        margin-left: 1.4rem;
                    }
                }  
           }
           
        }
        .right-footer {
            text-align: center;
            margin-bottom: 6.9rem;


            .footer-nav{
                display: flex;
                gap: 3rem;
                justify-content: center;
                margin-bottom: 3rem;
                a {
                    font-size: 1.8rem;
                }

                .active {
                    text-decoration: underline;
                }
            }

            p {
                font-size: 1.4rem;
                color: #6C7667;
            }
        }
    }
}

// Media quariy for tablet, tablet section

@media only screen and (min-width: 730px) {
    
    .hide-tablet {
        display: none;
    }

    .view-all-brend-div {
        display: none;
        svg {
            display: none;
        }
    }
    .hide-mobile {
        display: unset;
    }

    // header section

    .header-wrapper {
        padding-left: 5rem;
        padding-right: 4rem;
        align-items: center;
        .nav {
            display: flex;
            gap: 4rem;

            a {
                font-size: 1.8rem;
            }
            .active {
                text-decoration: underline;
            }

        }

        .start {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            background-color: #C6DBBD;
            padding: .8rem 2rem;
            border: var(--second-border);
            border-radius: .5rem;

            a {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }


    // section part
    section {
        .left-col {
            text-align: start;
            padding-right: 0;


            h1 {
                padding-left: unset;
                padding-right: unset;
                padding-bottom: 3rem;
                font-size: 4.5rem;
            }

            .title-div, .users-div {
                max-width: 730px;
                margin: 0 auto;
            }
            

            .users-div {
                display: flex;
                align-items: end;
                gap: 5rem;
                margin-bottom: 3rem;

                .main-user-div {
                    display: flex;
                    background-color: #fff;
                    align-items: center;
                    gap: 1.8rem;
                    padding: 1.5rem 4rem 1.5rem 1.7rem;
                    border-radius: 6.1rem;
                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                    }

                    span {
                        font-size: 1.6rem;
                    }
                    
                    strong {
                        display: block;
                        font-size: 1.4rem;
                        color: #779469;
                    }
                }
            }

        }

        .right-col {
            padding-left: 5rem;
            display: flex;
            flex-direction: column;
            
            .extention-part-div {
                flex-direction: row;
                gap: 5.5rem;
                padding-right: 0;

                .step {
                    flex-direction: column;
                    align-items: start;
                    gap: unset;
                }
            }

            .download-extention-div {
                align-self: flex-start;
                padding: 1.5rem 2.5rem;
            }


            
        }

    }
    

    // Tablet Main Section


    main {
        display: flex;
        flex-direction: column;

        .shops-div {
            .shops-names {
                grid-template-columns: repeat(4, 1fr);
                
                .two {
                    justify-self: center;
                }

                .three {
                    justify-self: start;
                }

            }
        }

        .shops-item-div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .first-item-div {
                justify-self: end;
            }
            .fifth-item-div {
                justify-self: end;
            }
            .third-item-div {
                background-image: url(../assets/heel.jpeg);
                justify-self: end;
            }

            .fourth-item-div {
                background-image: url(../assets/headphone.jpeg);
                background-size: cover;
                background-position: 0;
                width: 349px;
                height: 205px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: var(--border);
                box-shadow: var(--box-shadow);
        
                .name {
                    background-color: white;
                    margin: 0;
                    font-size: 16px;
                    padding-top: 1.8rem;
                    padding-bottom: 1.8rem;
                    padding-left: 1.8rem;
                    font-weight: bold;
                }
        
                .price {
                    background-color: #000;
                    color: white;
                    align-self: flex-end;
                    margin: 0;
                    font-size: 2.2rem;
                    padding: 1.7rem 3.3rem 1.7rem 2rem;
                    font-weight: bold;
                }
        
            }
        
            .fifth-item-div {
                background-image: url(../assets/last-shoes.jpeg);
                background-size: cover;
                background-position: 0;
                width: 349px;
                height: 205px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: var(--border);
                box-shadow: var(--box-shadow);
        
                .name {
                    background-color: white;
                    margin: 0;
                    font-size: 16px;
                    padding-top: 1.8rem;
                    padding-bottom: 1.8rem;
                    padding-left: 1.8rem;
                    font-weight: bold;
        
                }
        
                .price {
                    background-color: #000;
                    color: white;
                    align-self: flex-end;
                    margin: 0;
                    font-size: 2.2rem;
                    padding: 1.7rem 3.3rem 1.7rem 2rem;
                    font-weight: bold;
                }
            }
        
            .sixth-item-div {
                background-image: url(../assets/oil.jpeg);
                background-size: cover;
                background-position: 0;
                width: 349px;
                height: 205px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: var(--border);
                box-shadow: var(--box-shadow);
        
                .name {
                    background-color: white;
                    margin: 0;
                    font-size: 16px;
                    padding-top: 1.8rem;
                    padding-bottom: 1.8rem;
                    padding-left: 1.8rem;
                    font-weight: bold;
                }
        
                .price {
                    background-color: #000;
                    color: white;
                    align-self: flex-end;
                    margin: 0;
                    font-size: 2.2rem;
                    padding: 1.7rem 3.3rem 1.7rem 2rem;
                    font-weight: bold;
                }
            }
        }


        .view {
            width: 730px;
            
            margin: 0 auto;
            margin-bottom: 7.9rem;
            display: flex;
            justify-content: start;
            
        }

    }


    // tablet Footer section
    footer {
        .footer-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;

            .left-footer {
                flex-direction: column;
                padding-bottom: 5rem;
                gap: 5.5rem;
            }

            .right-footer {
                display: flex;
                flex-direction: column;
                justify-content: space-between; 
            }
            
        }
    }
}