:root {
  --primary-color: #E8F5E2;
  --box-shadow: 4px 4px 0px 0px #000;
  --border: 2px solid #000;
  --link-color: #000;
  --second-border: 1px solid #000;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(#fff);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.hide-mobile {
  display: none;
}

header {
  border-bottom: var(--second-border);
  background-color: var(--primary-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

section {
  background-color: var(--primary-color);
}
section .left-col {
  text-align: center;
  padding: 3rem 5rem;
  border-bottom: var(--second-border);
}
section .left-col h1 {
  font-size: 3.2rem;
  line-height: 125.4%; /* 40.128px */
  padding-left: 5rem;
  padding-right: 5rem;
}
section .left-col .other-users-div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
section .left-col .other-users-div p {
  font-size: 16px;
  margin-left: -2rem;
}
section .left-col .other-users-div .users-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
section .left-col .other-users-div .users-img-div img {
  margin-left: -2rem;
}
section .right-col {
  padding: 5.2rem 2rem;
}
section .right-col .extention-part-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 10rem;
}
section .right-col .extention-part-div .step {
  display: flex;
  align-items: center;
  gap: 2rem;
}
section .right-col .extention-part-div .step p {
  font-size: 2rem;
}
section .right-col .extention-part-div .step strong {
  font-size: 1.6rem;
  background-color: #000;
  border-radius: 50%;
  color: white;
  padding: 0.5rem 1rem;
}
section .right-col .extention-part-div .step span {
  color: #608A4D;
  font-weight: bold;
}
section .right-col .download-extention-div {
  margin-top: 4.7rem;
  display: flex;
  justify-content: center;
  background-color: #9BC588;
  gap: 1.4rem;
  font-weight: bold;
  font-size: 2.2rem;
  align-items: center;
  padding: 1.5rem 0;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

main .shops-div {
  background-color: #000;
  padding-top: 5rem;
  padding-bottom: 16.5rem;
}
main .shops-div .shops-names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  margin: 0 2rem;
}
main .shops-div .shops-names .one {
  width: 88px;
  justify-self: end;
}
main .shops-div .shops-names .two {
  width: 63px;
  height: 36px;
  justify-self: start;
}
main .shops-div .shops-names .three {
  width: 106px;
  height: 30px;
  justify-self: end;
}
main .shops-div .shops-names .four {
  width: 107px;
  height: 26px;
  justify-self: start;
}
main .shops-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: -10rem;
  margin-bottom: 7.3rem;
}
main .shops-item-div .first-item-div {
  background-image: url(../assets/shoes.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .first-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .first-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .shops-item-div .second-item-div {
  background-image: url(../assets/Arow.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .second-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .second-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .shops-item-div .third-item-div {
  background-image: url(../assets/headphone.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .third-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .third-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.4rem;
  gap: 1rem;
}
main .view a {
  font-size: 2.6rem;
  text-decoration: underline;
}

footer {
  border-top: var(--second-border);
  padding-top: 3.8rem;
  background-color: var(--primary-color);
}
footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7.3rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}
footer .footer-wrapper .left-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-wrapper .left-footer .svg {
  margin-bottom: 1.2rem;
}
footer .footer-wrapper .left-footer .footer-media {
  text-align: center;
}
footer .footer-wrapper .left-footer .footer-media a {
  font-size: 1.4rem;
}
footer .footer-wrapper .left-footer .footer-media .footer-media-svg {
  display: flex;
  gap: 1.2rem;
}
footer .footer-wrapper .left-footer .footer-media .footer-media-svg .last {
  margin-left: 1.4rem;
}
footer .footer-wrapper .right-footer {
  text-align: center;
  margin-bottom: 6.9rem;
}
footer .footer-wrapper .right-footer .footer-nav {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}
footer .footer-wrapper .right-footer .footer-nav a {
  font-size: 1.8rem;
}
footer .footer-wrapper .right-footer .footer-nav .active {
  text-decoration: underline;
}
footer .footer-wrapper .right-footer p {
  font-size: 1.4rem;
  color: #6C7667;
}

@media only screen and (min-width: 730px) {
  .hide-tablet {
    display: none;
  }
  .view-all-brend-div {
    display: none;
  }
  .view-all-brend-div svg {
    display: none;
  }
  .hide-mobile {
    display: unset;
  }
  .header-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 4rem;
    align-items: center;
  }
  .header-wrapper .nav {
    display: flex;
    gap: 4rem;
  }
  .header-wrapper .nav a {
    font-size: 1.8rem;
  }
  .header-wrapper .nav .active {
    text-decoration: underline;
  }
  .header-wrapper .start {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    background-color: #C6DBBD;
    padding: 0.8rem 2rem;
    border: var(--second-border);
    border-radius: 0.5rem;
  }
  .header-wrapper .start a {
    font-size: 1.8rem;
    font-weight: bold;
  }
  section .left-col {
    text-align: start;
    padding-right: 0;
  }
  section .left-col h1 {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 3rem;
    font-size: 4.5rem;
  }
  section .left-col .title-div, section .left-col .users-div {
    max-width: 730px;
    margin: 0 auto;
  }
  section .left-col .users-div {
    display: flex;
    align-items: end;
    gap: 5rem;
    margin-bottom: 3rem;
  }
  section .left-col .users-div .main-user-div {
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 1.8rem;
    padding: 1.5rem 4rem 1.5rem 1.7rem;
    border-radius: 6.1rem;
  }
  section .left-col .users-div .main-user-div img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .left-col .users-div .main-user-div span {
    font-size: 1.6rem;
  }
  section .left-col .users-div .main-user-div strong {
    display: block;
    font-size: 1.4rem;
    color: #779469;
  }
  section .right-col {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 730px;
    margin: 0 auto;
  }
  section .right-col .extention-part-div {
    flex-direction: row;
    gap: 5.5rem;
    padding-right: 0;
  }
  section .right-col .extention-part-div .step {
    flex-direction: column;
    align-items: start;
    gap: unset;
  }
  section .right-col .download-extention-div {
    align-self: flex-start;
    padding: 1.5rem 2.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main .shops-div .shops-names {
    max-width: 730px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  main .shops-div .shops-names .two {
    justify-self: center;
  }
  main .shops-div .shops-names .three {
    justify-self: start;
  }
  main .shops-item-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .shops-item-div .first-item-div {
    justify-self: end;
  }
  main .shops-item-div .fifth-item-div {
    justify-self: end;
  }
  main .shops-item-div .third-item-div {
    background-image: url(../assets/heel.jpeg);
    justify-self: end;
  }
  main .shops-item-div .fourth-item-div {
    background-image: url(../assets/headphone.jpeg);
    background-size: cover;
    background-position: 0;
    width: 349px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
  main .shops-item-div .fourth-item-div .name {
    background-color: white;
    margin: 0;
    font-size: 16px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.8rem;
    font-weight: bold;
  }
  main .shops-item-div .fourth-item-div .price {
    background-color: #000;
    color: white;
    align-self: flex-end;
    margin: 0;
    font-size: 2.2rem;
    padding: 1.7rem 3.3rem 1.7rem 2rem;
    font-weight: bold;
  }
  main .shops-item-div .fifth-item-div {
    background-image: url(../assets/last-shoes.jpeg);
    background-size: cover;
    background-position: 0;
    width: 349px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
  main .shops-item-div .fifth-item-div .name {
    background-color: white;
    margin: 0;
    font-size: 16px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.8rem;
    font-weight: bold;
  }
  main .shops-item-div .fifth-item-div .price {
    background-color: #000;
    color: white;
    align-self: flex-end;
    margin: 0;
    font-size: 2.2rem;
    padding: 1.7rem 3.3rem 1.7rem 2rem;
    font-weight: bold;
  }
  main .shops-item-div .sixth-item-div {
    background-image: url(../assets/oil.jpeg);
    background-size: cover;
    background-position: 0;
    width: 349px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
  main .shops-item-div .sixth-item-div .name {
    background-color: white;
    margin: 0;
    font-size: 16px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.8rem;
    font-weight: bold;
  }
  main .shops-item-div .sixth-item-div .price {
    background-color: #000;
    color: white;
    align-self: flex-end;
    margin: 0;
    font-size: 2.2rem;
    padding: 1.7rem 3.3rem 1.7rem 2rem;
    font-weight: bold;
  }
  main .view {
    width: 730px;
    margin: 0 auto;
    margin-bottom: 7.9rem;
    display: flex;
    justify-content: start;
  }
  footer .footer-wrapper {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  footer .footer-wrapper .left-footer {
    flex-direction: column;
    padding-bottom: 5rem;
    gap: 5.5rem;
  }
  footer .footer-wrapper .right-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1030px) {
  .view-all-brend-div {
    display: unset;
  }
  .view-all-brend-div a {
    color: #fff;
  }
  .view-all-brend-div svg {
    display: unset;
  }
  header .header-wrapper {
    max-width: 1200px;
  }
  section .section-wrapper {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
  }
  section .section-wrapper .left-col {
    position: relative;
  }
  section .section-wrapper .left-col .title-div h1 .star {
    position: absolute;
  }
  section .section-wrapper .right-col {
    border: unset;
    border-left: var(--second-border);
    padding-left: 6.4rem;
    padding-top: 8rem;
  }
  section .section-wrapper .right-col .extention-part-div {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  section .section-wrapper .right-col .extention-part-div .step {
    flex-direction: row;
    align-items: start;
    gap: 2.3rem;
  }
  section .section-wrapper .right-col .extention-part-div .step p {
    margin: 0;
  }
  main .shops-div .shops-div-wrapper {
    max-width: 1200px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
  }
  main .shops-div .shops-div-wrapper .shops-names {
    max-width: unset;
    margin-left: 0;
  }
  main .shops-div .shops-div-wrapper .shops-names img {
    width: unset;
    height: unset;
  }
  main .shops-div .shops-div-wrapper .shops-names .one {
    justify-self: start;
  }
  main .shops-div .shops-div-wrapper .shops-names .two {
    justify-self: start;
  }
  main .shops-div .shops-div-wrapper .shops-names .three {
    justify-self: start;
  }
  main .shops-div .shops-div-wrapper .view-all-brend-div {
    display: flex;
    align-items: center;
  }
  main .shops-div .shops-div-wrapper .view-all-brend-div a {
    font-size: 2rem;
    text-decoration: underline;
    margin-right: 1rem;
  }
  main .shops-item-div {
    max-width: 1300px;
    margin: -10rem auto;
    grid-template-columns: unset;
  }
  main .view {
    margin-top: 200px;
  }
  footer .footer-wrapper {
    max-width: 1200px;
  }
  footer .footer-wrapper .right-footer {
    justify-self: end;
  }
}/*# sourceMappingURL=main.css.map */