:root {
  --primary-color: #E8F5E2;
  --box-shadow: 4px 4px 0px 0px #000;
  --border: 2px solid #000;
  --link-color: #000;
  --second-border: 1px solid #000;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(#fff);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.hide-mobile {
  display: none;
}

header {
  border-bottom: var(--second-border);
  background-color: var(--primary-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

section {
  background-color: var(--primary-color);
}
section .left-col {
  text-align: center;
  padding: 3rem 5rem;
  border-bottom: var(--second-border);
}
section .left-col h1 {
  font-size: 3.2rem;
  line-height: 125.4%; /* 40.128px */
}
section .left-col .other-users-div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
section .left-col .other-users-div p {
  font-size: 16px;
  margin-left: -2rem;
}
section .left-col .other-users-div .users-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
section .left-col .other-users-div .users-img-div img {
  margin-left: -2rem;
}
section .right-col {
  padding: 5.2rem 2rem;
}
section .right-col .extention-part-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section .right-col .extention-part-div .step {
  display: flex;
  align-items: center;
  gap: 2rem;
}
section .right-col .extention-part-div .step p {
  font-size: 2rem;
}
section .right-col .extention-part-div .step strong {
  font-size: 1.6rem;
  background-color: #000;
  border-radius: 50%;
  color: white;
  padding: 0.5rem 1rem;
}
section .right-col .extention-part-div .step span {
  color: #608A4D;
  font-weight: bold;
}
section .right-col .download-extention-div {
  margin-top: 4.7rem;
  display: flex;
  justify-content: center;
  background-color: #9BC588;
  gap: 1.4rem;
  font-weight: bold;
  font-size: 2.2rem;
  align-items: center;
  padding: 1.5rem 0;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

main .shops-div {
  background-color: #000;
  padding-top: 5rem;
  padding-bottom: 16.5rem;
}
main .shops-div .shops-names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  margin: 0 2rem;
}
main .shops-div .shops-names .one {
  width: 88px;
  justify-self: end;
}
main .shops-div .shops-names .two {
  width: 63px;
  height: 36px;
  justify-self: start;
}
main .shops-div .shops-names .three {
  width: 106px;
  height: 30px;
  justify-self: end;
}
main .shops-div .shops-names .four {
  width: 107px;
  height: 26px;
  justify-self: start;
}
main .shops-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: -10rem;
  margin-bottom: 7.3rem;
}
main .shops-item-div .first-item-div {
  background-image: url(../assets/shoes.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .first-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .first-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .shops-item-div .second-item-div {
  background-image: url(../assets/Arow.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .second-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .second-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .shops-item-div .third-item-div {
  background-image: url(../assets/headphone.jpeg);
  background-size: cover;
  background-position: 0;
  width: 349px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
main .shops-item-div .third-item-div .name {
  background-color: white;
  margin: 0;
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
  font-weight: bold;
}
main .shops-item-div .third-item-div .price {
  background-color: #000;
  color: white;
  align-self: flex-end;
  margin: 0;
  font-size: 2.2rem;
  padding: 1.7rem 3.3rem 1.7rem 2rem;
  font-weight: bold;
}
main .view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.4rem;
}
main .view a {
  font-size: 2.6rem;
  text-decoration: underline;
}

footer {
  border-top: var(--second-border);
  padding-top: 3.8rem;
}
footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7.3rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}
footer .footer-wrapper .left-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-wrapper .left-footer .svg {
  margin-bottom: 1.2rem;
}
footer .footer-wrapper .left-footer .footer-media .footer-media-svg {
  display: flex;
  gap: 1.2rem;
}
footer .footer-wrapper .left-footer .footer-media .footer-media-svg .last {
  margin-left: 1.4rem;
}/*# sourceMappingURL=main.css.map */