@use 'variables';
@use 'global';

header {
    border-bottom: var(--second-border);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

section .left-col {
    text-align: center;
}

section h1 {
    font-size: 3.2rem;
    line-height: 125.4%; /* 40.128px */
}